/*-------------------------------------------------
    
    Circular progress graphs in pure JS + CSS
    - written by HT (@glenthemes)
	
    gitlab.com/circular-graph/s
    
-------------------------------------------------*/

.circular_graph_inner {
	position:relative;
	z-index:0;
}

.circular_graph_inner, .circular_graph_inner * {
	box-sizing:content-box;
}

.cir_back, .cir_front {
	border-radius:100%;
}

.cir_back {
	width:var(--Circular-Graph-Size);
	height:var(--Circular-Graph-Size);
	background:var(--Circular-Graph-Fill);
}

.cir_front {
	position:absolute;
	top:0;left:0;
	margin-top:var(--Circular-Graph-Line-Thickness);
	margin-left:var(--Circular-Graph-Line-Thickness);
	width:calc(var(--Circular-Graph-Size) - (var(--Circular-Graph-Line-Thickness) * 2));
	height:calc(var(--Circular-Graph-Size) - (var(--Circular-Graph-Line-Thickness) * 2));
	background:var(--Circular-Graph-Cover);
	z-index:1;
	
	display:grid;
	place-items:center;
}

.sqxkk {
	display:flex;
	align-items:center;
}
