@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");

body {
	margin:0;
}

.container {
	display:flex;
	align-items:center;
	margin-top:20px;
	margin-left:20px;
	gap:15px;
}

.circular_graph_percentage {
	font-family:"McLaren";
	font-size:16px;
	color:#252525;
}

.percentage_mark {
	margin-left:1px;
}